.button {
    --c: goldenrod;
    color: var(--c);
    font-size: 16px;
    border: 0.3em solid var(--c);
    border-radius: 0.5em;
    width: 12em;
    height: 3em;
    text-transform: uppercase;
    font-weight: bold;
    font-family: sans-serif;
    letter-spacing: 0.1em;
    text-align: center;
    line-height: 3em;
    margin-right: auto;
    margin-left: auto;
    display: block;
    margin-top: 1cm;
    margin-bottom: 1cm;
    
}

body {
    background-color: rgb(250, 222, 145);
}

table, th {
    border: 10px dotted rgb(90, 69, 0);
  }

  table td {
    border: 1px solid rgb(209, 165, 20);
  }

  table {
      margin-left: auto;
      margin-right: auto;
      width: 30%;
  }

  thead {
    background-color: rgb(207, 161, 11);
    color: black;
}

h1 {
    text-align: center;
    color: darkgoldenrod;
    margin-top: 3cm;
}

.teksti {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
}

img {
    width: 180px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2cm;
  }